button.btn-primary {
  background-color: #252525;
  color: #f8a902!important;
  border-color: #444;
}

button.btn-primary:hover {
  background-color: #575756;
  border-color: #444;
}

.todo__item {
  padding-left: 0;
}

