.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

table.playbook-table {
  margin: 1.5rem 0;
}

.row .buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row .buttons * {
  margin-left: 5px;
}

table .buttons * {
  margin-right: 5px;
}

.modal-backdrop {
  opacity: 0.5 !important;
}

