.buttons {
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}

table.playbook-table {
	margin: 1.5rem 0;
}

.row .buttons {
	justify-content:flex-end;

}

.row .buttons * {
	margin-left:5px;
}

table .buttons * {
	margin-right:5px;
}

.modal-backdrop {
    opacity:0.5 !important;
}
